#coauthors_status_field {
    border-bottom: 1px #DDDDDD solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#coauthors_status_field label {
    width: 310px;
    margin-right: 12px;
}

#coauthors_status_field select {
    max-width: 700px;
}
